In [1]:
import pandas as pd

In [2]:
playstore_df = pd.read_csv('playstore.csv')

In [ ]:
# Сохраните в переменные data_head и data_tail первые и последние 3 строки из датафрейма соответственно.
data_head = playstore_df.head(3)
data_tail = playstore_df.tail(3)

In [ ]:
#Сохраните в переменные n_col и n_row количество столбцов и строк в датафрейме соответственно
n_col = playstore_df.shape[1]
n_row = playstore_df.shape[0]

In [6]:
#Количество уникальных приложений есть в наших данных

playstore_df['App'].unique().size

9659

In [7]:
#Посчитайте число пропущенных значений в колонке с рейтингом приложений.
#Сохраните в переменную rating_missing количество пропущенных значений в колонке Rating

rating_missing = playstore_df['Rating'].isna().sum()

In [10]:
#
cols = ['App', 'Size', 'Genres', 'Current Ver']
playstore_df_cols = playstore_df[cols]

df_result = pd.concat([playstore_df_cols[0:3], playstore_df_cols[5:8], playstore_df_cols[15:19]])
df_result.to_csv('df_result.csv')

In [ ]:
playstore_df[cols][:20]

In [3]:
#Убрать дубликаты приложений (колонка App) и сбросить индекс. 
unique_playstore = playstore_df.drop_duplicates(subset = ['App']).reset_index(drop = True)

In [5]:
#Названия колонок необходимо привести к стандартному виду — все буквы должны быть нижнего регистра,
#а пробелы должны быть заменены на нижние подчеркивания.

unique_playstore.rename(columns={c: c.lower().replace(' ','_') for c in unique_playstore.columns},inplace=True)
# или unique_playstore.rename(columns=lambda x: x.lower().replace(' ','_'),inplace=True)
# или unique_playstore.columns = [el.lower().replace(' ','_') for el in unique_playstore.columns]

In [ ]:
#Введите долю бесплатных приложений. 
#Ответ округлите до сотых, в качестве десятичного разделителя используйте точку.
round(len(unique_playstore[unique_playstore['price'] == '0'])/len(unique_playstore), 2)

In [ ]:
#Отберите из датафрейма только те приложения, которые относятся к образовательной категории  (EDUCATION) 
#и с количеством отзывов пользователей более 1000. 
#Сохраните новый датафрейм в переменную education_playstore
education_playstore = unique_playstore[(unique_playstore['category'] == 'EDUCATION')
                                       & (unique_playstore['reviews'] > 1000)].reset_index(drop = True)

In [8]:
#уберем лишние символы из колонки с ценой (price), 
#чтобы далее с ней было удобнее работать, и переведем данные в тип float.
unique_playstore['price'] = unique_playstore['price'].apply(lambda x: float(x.replace('$','')))

AttributeError: 'float' object has no attribute 'replace'

In [14]:
unique_playstore_1 = unique_playstore[(unique_playstore['category'] == 'ART_AND_DESIGN')
                                      & (unique_playstore['type'] == 'Paid')]
unique_playstore_1.describe()

        unnamed:_0    rating      reviews  price
count     3.000000  3.000000     3.000000   3.00
mean   4759.333333  4.733333   722.000000   1.99
std       4.509250  0.057735   537.868943   0.00
min    4755.000000  4.700000   149.000000   1.99
25%    4757.000000  4.700000   475.000000   1.99
50%    4759.000000  4.700000   801.000000   1.99
75%    4761.500000  4.750000  1008.500000   1.99
max    4764.000000  4.800000  1216.000000   1.99

In [ ]:
`

In [24]:
res_df = pd.pivot_table(unique_playstore, 
                        index = ['category', 'type'],
                       values =['price','rating','reviews'],
                       aggfunc ='mean')
res_df = res_df.rename(columns={"price": "mean_price", "rating": "mean_rating", "reviews": "mean_reviews"})
res_df['mean_price'] = res_df['mean_price'].map('{:,.2f}'.format)

res_df= res_df.round({'mean_price': 2, 'mean_rating': 1,'mean_reviews': 2})
res_df.to_csv('result.csv')
res_df

                       mean_price  mean_rating  mean_reviews
category          type
ART_AND_DESIGN    Free       0.00          4.3      23230.11
                  Paid       1.99          4.7        722.00
AUTO_AND_VEHICLES Free       0.00          4.2      14140.28
                  Paid       4.49          4.6       1387.67
BEAUTY            Free       0.00          4.3       7476.23
...                           ...          ...           ...
TRAVEL_AND_LOCAL  Paid       4.16          4.1       1506.08
VIDEO_PLAYERS     Free       0.00          4.0     424347.18
                  Paid       2.62          4.1       3341.75
WEATHER           Free       0.00          4.2     171249.62
                  Paid       4.05          4.4      17055.12

[63 rows x 3 columns]